/* -------------------------------------------------------- Fonts, row margin, all links */

/* ------------------- fonts and text style */

@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.unica-one {
    font-family: 'Unica One', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

/* ------------------- row margin */

.row {
    margin-left: -15px;
    margin-right: -15px;
 } 

/* ------------------- all links */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}



/* -------------------------------------------------------- html, body, header, footer */

/* ------------------- html*/

html {
    position: relative;
    min-height: 100%;
}

/* ------------------- body*/

body {
    margin-bottom: 107px;
   
    
}

/* ------------------- body class .head-space */

.head-space {
    padding-top: 76px;
}

/* ------------------- header */

.bg-dark {
    background-color: #0A014F!important;
    font-family: 'Unica One', sans-serif;
    font-size: 150%;
}

/*Ease in and out effect from Resume project*/
.navbar-nav a {
    color: #fafafa!important;
    padding-left: 5px!important;
    letter-spacing: 2px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

/*Ghost Button effect credited in README.md */
.navbar-nav a:hover {
    color: #DB3069!important;
    background: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 2px #DB3069;
    padding-left: 5px;
}

.navbar-nav .active {
    color: #DB3069!important;
    padding-left: 5px;
}

.navbar-toggler {
    border-color: #0A014F!important;
}

/* ------------------- footer */

.footer {
    position: absolute;
    bottom: 0;
    background-color: #0A014F;
    color: #fafafa!important;
    min-height: 107px;
}

.social-icon i {
    font-size: 30px;
    color: #fafafa;
    padding-left: 10px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-icon i:hover {
    color: #DB3069;
}

#footer-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* -------------------------------------------------------- all html files*/

/* ------------------- index.html*/

.hero-image {
    background-image: url("../images/band1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color: #0A014F;
    min-height: 100vh;
    position: relative;
}

/* zoom effect credited in README.md*/
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

.image-zoom {
	animation: zoominoutsinglefeatured 2s forwards;
}

#index-logo-position {
    width: 500px;
    margin: 0 auto;
}

#index-button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#index-button a {
    color: #fafafa;
    background-color: #DB3069;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
}

#index-button a:visited {
    color: #fafafa;
    background-color: #DB3069;
}

#index-button a:hover {
    color: #DB3069;
    background-color: #fafafa;
}

#index-button a:active {
    color: #DB3069;
    background-color: #fafafa;
}

/* ------------------- about.html */

.about-hero {
    height: 500px;
    width: 100%;
    background-image: url('../images/band1.jpg');
    background-position: center center;
    background-size: cover;
}

.hero-img-logo {
    width: 450px;
    margin-top: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.about-band-column {
    padding: 50px;
    background-color: rgb(220, 220, 227);
}

.band-member {
    padding: 30px 50px 30px 50px;
}

.member-photo {
    margin: 0 auto;
    margin-bottom: 50px;
}

.member-photo img {
    border-radius: 50%;
    width: 320px;
    height: 320px;
}

hr {
    border: 2px solid #DB3069;
    width: 200px;
    margin-left: 0;
}

.member-social-icon {
    color: black;
    font-size: 30px;
    padding-left: 10px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.member-social-icon:hover {
    color: #DB3069;
}

/* ------------------- gallery.html */

.gallery-text-column {
    padding: 50px;
    margin-right: -0px;
    margin-left: -0px;
    background-color: rgb(220, 220, 227);
}

.gallery-text-column a {
    color: rgb(50, 50, 50);
}

.carousel-inner img {
    height:500px;
    object-fit: cover;
}

.video-row {
    padding: 30px 50px 30px 50px;
    margin-right: -0px;
    margin-left: -0px;
}

.video-text-column {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* margins to fix bug in row wider than window*/

.gallery-text-row {
    margin-left: 0px;
    margin-right: 0px;
}

/* ------------------- tourdates.html */

.tour-dates-hero {
    height: 500px;
    width: 100%;
    background-image: url('../images/band2-cropped.jpg');
    background-position: center center;
    background-size: cover;
}

.tour-dates-column {
    padding: 50px;
    background-color: rgb(220, 220, 227);
}

.tour-dates {
    padding: 30px 50px 30px 50px;
}

.tour-dates a {
    color: #fafafa;
    background-color: #DB3069;
    border: 2px solid #DB3069;
    padding: 5px;
    border-radius: 10px;
}

.tour-dates a:visited {
    color: #fafafa;
    background-color: #DB3069;
    border: 2px solid #DB3069;
}

.tour-dates a:hover {
    color: #DB3069;
    background-color: #fafafa;
    border: 2px solid #DB3069;
}

.tour-dates a:active {
    color: #DB3069;
    background-color: #fafafa;
    border: 2px solid #DB3069;
}

.justify-right {
    float: right;
}

.tour-dates li {
    margin-bottom: 30px;
}

.tour-hr {
    border: 1px solid rgb(231, 231, 231);
    width: 100%;
}

.text-section-map {
    background: rgb(220, 220, 227);
    text-align: center;
    position: relative;
    height: 350px;
    
}

.heading-next-text {
    position: absolute;
    margin-top: 120px;
    padding-left: 30px;
    padding-right: 30px;
}

.map-section {
    background: white;
    height: 350px;
    
}



/* -------------------------------------------------------- media query*/

/* ------------------- max-width: 575px */

@media (max-width: 575px) {

    #index-logo-position {
        width: 300px;
    }

    #index-button a {
        font-size: 18px;
    }
}


/* ------------------- max-width: 600px */

@media (max-width: 600px) {

    .about-band-column {
        padding: 20px;
    }   

    .band-member {
        font-size: 16px;
        padding: 20px;
    }

    .about-band-column h5 {
        font-size: 16px;
    }

    hr {
        border: 2px solid #DB3069;
        width: 100%;
        margin-left: 0;
    }

    .tour-dates li {
        margin-bottom: 40px;
        display: block;
    }

    .carousel-inner img {
        height:300px;
        object-fit: cover;
    }

    .about-hero {
        height: 300px;
        background-size:cover;
    }

    .about-hero img {
        width: 270px;
        margin-top: 100px;
    }

    .gallery-text-column {
        padding: 20px;
    }

    .gallery-text-column h5 {
        font-size: 16px;
    } 

    .video-row {
        padding: 20px;
    }

    .tour-dates-hero {
        height: 300px;
        background-size:cover;
    }

    .text-section-map {
        height: 250px;
    }

    .heading-next-text {
        margin-top: 70px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .map-section {
    height: 250px;
    
    }

}


/* ------------------- max-width: 768px */

@media (max-width: 768px) {

    .social-icon i {
        padding-left: 0px;
    }

    .body {
        margin-bottom: 124px;
    }

    .tour-dates {
        padding: 20px;
    }

    .tour-dates-column {
    padding: 20px;

    .video-row {
        padding: 20px;
}

    .video-text-column {
        padding: 20px;
        height: 120px;
    }

    

}


/* ------------------- max-width: 991px */

@media (max-width: 991px) {
    .body {
        margin-bottom: 124px;
    }
}

