/* ------------------- fonts */

@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.unica-one {
    font-family: 'Unica One', sans-serif;
}

/* ------------------- links */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* ------------------- colors */

.bg-dark {
    background-color: #0A014F!important;
    font-family: 'Unica One', sans-serif;
    font-size: 150%;
}

/* ------------------- footer */

footer {
    background-color: #0A014F;
    color: #fafafa;
    min-height: 70px;
}

.social-icon i {
    font-size: 25px;
    color: #fafafa;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-icon i:hover {
    color: #DB3069;
}

#footer-content {
    padding: 30px;
}
